* {box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    background: #fdfdfd;
}

section {
    margin: 0 auto;
}

#snakeboard {
    margin-top: 125px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#scoreSection {
    padding: 20px 0;
    background: dodgerblue;
}

#score {
    margin: 0;
    color: #fdfdfd;
    text-align: center;
    font-size: 140px;
}